
$color_blue: #0091ea;

body {
}

.main-content {
    min-height: 450px;
    padding-top: 130px;
    font-family: cursive;

    h1 {
        color: $color_blue;
    }

    h2 {
        color: $color_blue;
    }
}
.table thead th
.table{
    thead{
        th{
            text-align:center;
        }
    }
}