@inject IViewLocalizer localizer


        @if (User.Identity!.IsAuthenticated)
        {
            <a asp-area="" asp-controller="Auth" asp-action="info">@User.Identity.Name</a>
            <a asp-area="" asp-controller="Auth" asp-action="Logout">@localizer["Logout"]</a>
        }
        else
        {
            <a asp-area="" asp-controller="Auth" asp-action="Login">@localizer["Login"]</a>
            <a asp-area="" asp-controller="Auth" asp-action="Register">@localizer["Register"]</a>
        }


