@using FileSharingProject.Resources;
@using Microsoft.Extensions.Localization;
@model AddPasswordViewModel  
@inject IStringLocalizer<SharedResource> localizer


<div style="width:100%; height:300px; background-color:aliceblue" class="hide" id="changpassword">
 <!-- Start Contact Content -->
<div class="mu-contact-form-area text-center">
    
    <form method="post" asp-action="AddPassword" class="mu-contact-form">
        <div class="form-group">
            <span class="fa fa-envelope mu-contact-icon"></span>
            <input type="password" asp-for="NewPassword" class="form-control" placeholder="@localizer["NewPassword"].Value">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <span class="fa fa-envelope mu-contact-icon"></span>
            <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="@localizer["ConfirmPassword"].Value">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        
        <button type="submit" class="mu-send-msg-btn"><span>@localizer["Save"].Value</span></button>
    </form>
</div>
</div>
<!-- End Contact Content -->
