@{
    ViewData["Title"] = "RequireEmailConfirm";
}

<div class="alert alert-success text-center">
    <h4>
        Your Account has been created Successfully!, You need to Confirm email!.
    </h4>
</div>